RESEND_API_KEY=re_replace_with_resend_api_key
TURNSTILE_SECRET_KEY=0x4AAAAAA_replace_with_turnstile_secret_key
QUOTE_TO_EMAIL=info@ictinuscontractors.co.uk
QUOTE_FROM_EMAIL="Ictinus Contractors <quotes@ictinuscontractors.co.uk>"
ALLOWED_ORIGIN=http://localhost:8788
VITE_TURNSTILE_SITE_KEY=0x4AAAAAA_replace_with_turnstile_site_key
